<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{!-- Here we will be using hbs partials for header --}}
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p>This website was created by Nikhil Chaturvedi.</p>
        <img class="portrait" src="/img/robot.png" />
        <p>It uses data from 'Mapbox.com' and 'Darksky.net'.</p>
    </div>
    {{>footer}}
</body>

</html>