<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{!-- Here we will be using hbs partials for header --}}
        {{>header}}
        <p>Use this website to get Weather's updates.</p>
        {{!-- <h1>{{title}}</h1> --}}

        <form>
            <input placeholder="Enter a location">
            <button>Search</button>
        </form>

        <p id='message-1'></p>
        <p id='message-2'></p>
    </div>
    {{>footer}}

    {{!-- The reason we put this line at end so that our scripts gets loaded after the above html content is loaded--}}
    <script src="/js/app.js"></script>
</body>

</html>